# The order of packages is significant, because pip processes them in the order
# of appearance., so we need to install dependencies first.
cliff>=4.0.0 # Apache-2.0
keystoneauth1>=5.0.0 # Apache-2.0
osc-lib>=2.0.0 # Apache-2.0
python-openstackclient>=6.0.0 # Apache-2.0
